@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.flickName {
    color: blue;
}

.flickYear {
    color: rgb(19, 156, 19);
}